@font-face {
	src: url('fonts/Digit.ttf');
	font-family: 'Digit';
}
.ms-mine {
	display: inline-block;
}
.ms-mine,
.ms-mine * {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.ms-mine .ms-item {
	width: 24px; height: 24px;
	float: left;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	background-size: 100%;
	cursor: pointer;
}
.ms-mine.classic .ms-item {
	background-color: rgb(230, 230, 230);
	border-top: 2px solid rgb(252, 252, 252);
	border-left: 2px solid rgb(252, 252, 252);
	border-bottom: 2px solid rgb(210, 210, 210);
	border-right: 2px solid rgb(210, 210, 210);
}
.ms-mine .ms-stats {
	font-family: 'Digit';
	font-size: 36px;
	line-height: 40px;
	padding-top: 6px;
}
.ms-mine .ms-stats .ms-timer,
.ms-mine .ms-stats .ms-remain {
	padding: 5px 10px;
}
.ms-mine .ms-stats .ms-timer {
	float: right;
}
.ms-mine .ms-stats .ms-remain {
	float: left;
}
.ms-mine.classic .ms-stats {
	background-color: rgb(230, 230, 230);
	border-top: 2px solid rgb(252, 252, 252);
	border-left: 2px solid rgb(252, 252, 252);
	border-bottom: 2px solid rgb(210, 210, 210);
	border-right: 2px solid rgb(210, 210, 210);
}
.ms-mine.classic .ms-stats {}
.ms-mine .ms-item.active {
	background-color: #ccc;
	border: 1px solid #888;
}
.ms-mine .ms-item.bomb {
	background-image: url(imgs/bomb.png);
}
.ms-mine .ms-item.flag {
	background-image: url(imgs/flag.png);
}